/* Additional CSS */

.dark_theme {
    background-color: black;
    color: white;
}

.active, .active:hover {
    color: yellow;
    pointer-events: none;
}

/* Navbar CSS Declaration */

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: none;
    width: 100%;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    color: red;
    text-decoration: none;
}

/* End of Navbar CSS Declaration */

div.bg_gray {
    background-color: #9caeaf;
    color: white;
}

div.bg_green {
    background-color: #00ce00;
    color: white;
}

div.bg_purple {
    background-color: #800080;
    color: white;
}

h1 {
    margin: 10px 0;
    font-size: 1.6em;
}

body {
    padding: auto 0px;
}

.container-fluid {
    padding: 5px 7px;
}

img {
    margin: 15px 0px;
}

/* Form CSS Declaration */

form {
	margin: 1em 35%;
	overflow: hidden;
}

form ul.errorlist {
	color: red;
}

form p {
	text-align: center;
}

label {
	text-align: left;
	width: 120px;
	display: inline-block;
}

input[type = "text"] input[type = "email"] {
	width: 200px;
}

input {
	float: right;
	clear: both;
}

/* End of Form CSS Declaration */




