/* Additional CSS */

.dark_theme {
    background-color: black;
    color: white;
}

.active, .active:hover {
    color: yellow;
    pointer-events: none;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: none;
    width: 100%;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    color: red;
    text-decoration: none;
}

div.bg_gray {
    background-color: #9caeaf;
    color: white;
}

form {
    padding: 10px 0;
    margin: 0 auto;
}

.space_out {
    padding: 10px 0;
}

label {
    padding: 0 15px 0 0;
}



