# Additional CSS

div.bg_black {
    background-color: black;
}

div.bg_yellow {
    background-color: yellow;
}

div.bg_red {
    background-color: red;
}

div.bg_green {
    background-color: green;
}

div.bg_blue {
    background-color: blue;
}

div.bg_cyan {
    background-color: cyan;
}


